<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide welcome">
            <div class="welcome__text">
                <h1 class="welcome__heading">Meet Perth,</h1>
                <h2 class="welcome__subheading">A stupidly simple, flat PSD. Oh yeah, it’s <strong><i>free</i></strong> too!</h2>
                <div class="welcome__actionbutton">
                    <span class="welcome__actionbutton-text">Download</span>
                    <i class="fa fa-cloud-download welcome__actionbutton-icon"></i>
                </div>
            </div>            
            <div class="welcome__phoneimage">
                <div class="welcome__phoneimage-overlay"></div>
            </div>            
        </div>
        <div class="swiper-slide aboutus">
            <div class="aboutus__info">
                <h1 class="aboutus__heading">A Longwinded Header</h1>
                <div class="aboutus__text">She'll be right paddock how lets        throw a ciggies. She'll be right ute to built like a            doovalacky. We're going rack off bloody she'll be right pash.     You little ripper tucker also get a dog up ya greenie.
                </div>
                    <div class="aboutus__quote">You little ripper boozer no worries she'll be right holy dooley!. Come a 
                    freo also as cross as a your shout. Lets throw a khe sanh flamin dead 
                    dingo's donger. Lets get some fisho with grab us a trackie dacks.
                </div>
                <div class="aboutus__actiobutton">
                    <span class="aboutus__actiobutton-text">Say hello</span>
                    <i class="fa fa-envelope aboutus__actiobutton-icon"></i>
                </div>
            </div>
            <div class="aboutus__tabletimage">
                <div class="aboutus__tabletimage-overlay"></div>
            </div>
        </div>
        <div class="swiper-slide getdog">
            <div class="getdog__info">
                <div class="getdog__heading">Get a Dog Up Ya’</div>
                <div class="getdog__slogan">She'll be right paddock how lets throw a ciggies. 
She'll be right ute to built like a doovalacky.</div>
                <div class="getdog__text">We're going rack off bloody she'll be right pash. You 
little ripper tucker also get a dog up ya greenie.</div>
                <div class="getdog__actionbutton">
                    <span class="getdog__actionbutton-text">view on dribbble</span>
                    <i class="fa fa-dribbble getdog__actionbutton-icon"></i>
                </div>
            </div>
            <div class="getdog__images">
                <div class="getdog__imac"></div>
                <div class="getdog__ipadmini"></div>
                <div class="getdog__ipad"></div>
                <div class="getdog__macbookretina"></div>                
                <div class="getdog__iphone5"></div>
            </div>
        </div>
        <div class="swiper-slide likeit">
            <div class="likeit__info">
                <div class="likeit__heading">Like what you see?</div>
                <div class="likeit__actionbutton">
                    <span class="likeit__actionbutton-text">Buy me a <i>beer</i>?</span>
                    <i class="fa fa-beer likeit__actionbutton-icon"></i>
                </div>
            </div>
        </div>
        <div class="swiper-slide social">
            <div class="social__info">
                <div class="social__button"><div class="fa fa-dribbble icon"></div></div>
                <div class="social__button"><div class="fa fa-facebook icon"></div></div>
                <div class="social__button"><div class="fa fa-twitter icon"></div></div>
                <div class="social__button"><div class="fa fa-paper-plane icon"></div></div>
            </div>
            <div class="social__form">
                <form>
                    <div class="social__form-label">Newsletter Subscription</label>
                    <input placeholder="Enter Email" />
                    <div class="social__form-subscribe">
                        <div class="fa fa-envelope social__form-subscribe-icon"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>       
</div>